<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::title}, ~{::main})}">
<head>
  <title>Cadastro de Livro</title>
</head>

<main>
  <h1>📘 Cadastro de Livro</h1>

  <form th:action="@{/livros/salvar}" th:object="${livro}" method="post">
    <div>
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" th:field="*{titulo}" placeholder="Título do livro" required />
    </div>

    <div>
      <label for="autor">Autor:</label>
      <input type="text" id="autor" th:field="*{autor}" placeholder="Nome do autor" required />
    </div>

    <div>
      <label for="isbn">ISBN:</label>
      <input type="text" id="isbn" th:field="*{isbn}" placeholder="Código ISBN" required />
    </div>

    <div>
      <label for="quantidade">Quantidade:</label>
      <input type="number" id="quantidade" th:field="*{quantidade}" min="0" placeholder="Ex: 3" required />
    </div>

    <div>
      <label for="categoria">Categoria:</label>
      <select id="categoria" th:field="*{categoria}" required>
        <option value="">-- Selecione --</option>
        <option value="Aventura">Aventura</option>
        <option value="Clássico">Clássico</option>
        <option value="Clássico Americano">Clássico Americano</option>
        <option value="Ficção">Ficção</option>
        <option value="Ficção Científica">Ficção Científica</option>
        <option value="Filosofia">Filosofia</option>
        <option value="Infantil">Infantil</option>
        <option value="Infantil/Filosofia">Infantil/Filosofia</option>
        <option value="Literatura Brasileira">Literatura Brasileira</option>
        <option value="Literatura Portuguesa">Literatura Portuguesa</option>
        <option value="Mistério">Mistério</option>
        <option value="Poesia Épica">Poesia Épica</option>
        <option value="Realismo Mágico">Realismo Mágico</option>
        <option value="Romance">Romance</option>
        <option value="Romance Gótico">Romance Gótico</option>
        <option value="Romance Psicológico">Romance Psicológico</option>
        <option value="Sátira">Sátira</option>
        <option value="Suspense">Suspense</option>
        <option value="Terror">Terror</option>
      </select>
    </div>


    <div style="margin-top: 10px;">
      <button type="submit">Salvar</button>
    </div>
  </form>
</main>
</html>
