<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout (~{::title}, ~{::main})}"></div>
<head>
    <title>Início</title>
</head>
<main>
    <div th:if="${mensagem}" style="color: green;" th:text="${mensagem}"></div>
    <div th:if="${erro}" style="color: red;" th:text="${erro}"></div>
    <h1>📚 Lista de Livros</h1>

    <form method="get" action="/">
        <input type="text" name="busca" placeholder="Buscar livro..." />
        <select name="filtro">
            <option value="titulo">Título</option>
            <option value="autor">Autor</option>
            <option value="categoria">Categoria</option>
        </select>
        <button type="submit">Buscar</button>
    </form>
    <!-- tRECHO QUE ADICIONA O BOTÃO ADD LIVRO SE O USUARIO FOR admin-->
    <div th:if="${usuarioLogado != null and usuarioLogado.tipo.name() == 'ADMIN'}">
        <a href="/livros/novo">➕ Adicionar Livro</a>
    </div>

    <div th:if="${usuarioLogado != null and usuarioLogado.tipo.name() == 'ADMIN'}">
        <a href="/usuarios/novo">👥 Cadastrar Funcionário/ADM</a>
    </div>

    <table border="1">
        <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>ISBN</th>
            <th>Categoria</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="livro : ${livros}">
            <td th:text="${livro.titulo}"></td>
            <td th:text="${livro.autor}"></td>
            <td th:text="${livro.isbn}"></td>
            <td th:text="${livro.categoria}"></td>
            <td>
                <a th:href="@{'/emprestimos/alugar/' + ${livro.id}}">Alugar</a>

            </td>
        </tr>
        </tbody>
    </table>
</main>
</html>
