<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Lista de Empréstimos</title>
</head>
<main>
    <h1>📄 Lista de Empréstimos</h1>

    <table border="1">
        <thead>
        <tr>
            <th>Livro</th>
            <th>Usuário</th>
            <th>Data Empréstimo</th>
            <th>Data Devolução</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp : ${emprestimos}">
            <td th:text="${emp.livro.titulo}"></td>
            <td th:text="${emp.usuario.nome}"></td>
            <td th:text="${emp.dataEmprestimo}"></td>
            <td th:text="${emp.dataDevolucao != null ? emp.dataDevolucao : '---'}"></td>
        </tr>
        </tbody>
    </table>
</main>
</html>
