<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
    <title>Login</title>
</head>
<main>
    <h1>Entrar na Biblioteca</h1>

    <form method="post" th:action="@{/login}">
        <label>Login:</label>
        <input type="text" name="username"/><br/>
        <label>Senha:</label>
        <input type="password" name="password"/><br/>
        <button type="submit">Entrar</button>
        <p>Não tem conta? <a href="/alunos/novo">Cadastre-se aqui</a></p>
    </form>

    <p th:if="${param.error}">❌ Usuário ou senha inválidos</p>
    <p th:if="${param.logout}">✅ Logout efetuado com sucesso</p>
</main>
</html>
